.activity-section {
    position: relative;

    .activity-container {
        padding-top: 112px;
        padding-bottom: 120px;
        @include breakpoint(medium){
            padding-bottom: 0;
        }

        &::after {
            content: "";
            clear: both;
            display: table;
        }

        .section-title {
            h3 {
                @include first-heading;
            }

            h2 {
                @include second-heading;
            }

            .activity-line {
                background: $secondary-color;
            }
        }

        .paras {
            margin-bottom: 95px;

            p {
                line-height: 1.5;
                font-family: 'Montserrat', sans-serif;
            }
        }

        .accordian-contents {
            @include breakpoint (medium){
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .accord-item {
                max-width: 600px;
                width: 100%;
                height: 380px;
                margin: 0 15px;
                @include breakpoint (medium){
                    margin: 15px 0;
                    padding: 0 10px;
                }
               
               

                img {
                    height: 100%;
                    object-fit: cover;
                }

                &:first-child {
                    margin-left: 0;
                    
                }

                &:last-child {
                    margin-right: 0;
        
                }

                .accordion-item {
                    border: 1px solid rgb(229, 229, 229);
                    margin: 5px 0;

                    &:first-child {
                        margin-top: 0px;
                    }

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }

                .accordion-button {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding-left: 15px;
                    height: 58px;

                    &:focus {
                        box-shadow: none;
                    }
                    &:not(.collapsed){
                        color: black;
                    }

                    .btn-img {
                        width: 30px;
                        height: 30px;
                        margin-right: 15px;
                    }
                }

                .accordion-body {
                    max-height: 181px;
                    overflow: hidden;
                    text-align: left;
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    color: rgb(166, 166, 166);
                    font-size: 15px;
                    padding: 20px 24px 27px 20px;
                    line-height: 1.5;

                }
            }

            .image-cont {
                max-width: 570px;
                width: 100%;
                // @include breakpoint (medium){
                //     // width: 100%;
                //     // object-fit: cover;
                // }
            }
        }
    }

    .mCS-my-theme.mCSB_scrollTools {
        .mCSB_dragger .mCSB_dragger_bar {
            background-color: $blue-color;
        }
    }

    .mCS-my-theme.mCSB_scrollTools {
        .mCSB_draggerRail {
            background-color: rgb(245, 245, 245);
        }
    }

    #mCSB_1_scrollbar_horizontal {
        .mCSB_dragger {
            width: 100px;
        }
    }

    #mCSB_1_scrollbar_vertical, #mCSB_2_scrollbar_vertical, #mCSB_3_scrollbar_vertical {
        .mCSB_dragger{
            height: 90px !important;
        }
    }

    .mCSB_1_scrollbar, .mCSB_2_scrollbar, .mCSB_3_scrollbar {
        .mCSB_dragger {
            .mCSB_draggerRail {
                width: 5px;
            }
        }
    }
    .mCSB_scrollTools {
        right: -6px;
    }

}