$primary-color : rgb(252, 227, 138);
$secondary-color : rgb(243, 129, 129);
$blue-color: rgb(149, 225, 211);
$color-white: #fff;
$border-color: rgb(229, 229, 229);
$color-grey:rgb(179, 179, 179);
$blueprint-overlay: rgb(217, 217, 217);
$qoutes-sec-bg: rgb(248, 248, 248);
$slick-arrow-color:rgb(207, 207, 207);